.book-card-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    grid-row: 2/3;
    grid-column: 1/3;
}

main {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}

h1 {
    display: flex;
    justify-content: center;
    grid-row: 1/2;
    grid-column: 1/2;
    padding-bottom: 10px;
}

@media screen and (max-width: 500px) {
    main { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .book-card-section {
        justify-content: center;
    }
}