
.home-page {
    margin: 0 auto;
    padding: 0;
}

.home-page__gallery h2 {
    display: flex;
    justify-content: left;
    padding-top: 8px;
    margin-bottom: 40px;
    text-align: center;
}

.home-page > .row {
    display: grid;
    grid-template-columns: 220px minmax(0, auto);
    gap: 1rem;
    margin-right: 0;
    margin-left: 0;
}

.home-page > .row > .col {
    width: auto;
    padding: 0;
}

.home-page__gallery .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    margin-right: 0;
    margin-left: 0;
}

.home-page__gallery .row > .col{
    flex: 0 0 auto;
    width: auto;
    padding-right: 0;
    padding-left: 0;
}

@media screen and (max-width: 500px) {
    .home-page > .row {
        grid-template-columns: 1fr;
    }
    
    .home-page__gallery h2 {
        display: flex;
        justify-content: left;
        padding-top: 0;
        padding-bottom: 10px;
        margin-bottom: 0;
        text-align: center;
    }

    .home-page__gallery .row {
        justify-content: center;
    }
}
